:root{
    --aqua:aqua;
}
body{
    background-color:#f1c4f3 ;
}
.button:hover{
    background-color: blueviolet;
}
#mensaje:target{
    background-color: aliceblue;
    border-radius: #ff0000;
    padding: 10px;
    margin-top: 10px;
    display: block;
    border: 1px solid #00aaff;
}
.oculto {
    display: none;
}

.contenedor p:first-child{
    background-color: var(--aqua);
}
input:invalid{
    background-color: pink;
}
/* input:valid {
    border: 2px solid green;
} */
input[type="email"]{
    border-radius: 2px solid green;
    background-color:khaki;
}
.red-input:focus{
    border: 3px solid red;
    color: white;
}
.form_activo input{
    display: block;
}
main :only-of-type{
    color:var(--aqua);
}
.parrafo:first-of-type{
    color:green;
}
nav a{
    display: block;
}
nav  a:hover{
    color: #dc7633;
}
h1:before{
    content: "🌷";
}
p::after{
    display: block;
    background-color: aliceblue;
    content: "" ;
    width: 100%;
    height: 2px;
}
.boton_sombra{
    height: 20px;
    width: 50px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 10);                           
} 
.comillas{
    position: relative;
    padding: 10px;
    margin: 0;
}
.comillas::before{
    content:"\201C";
    position: absolute;
    top:18px;
    left: -3px;/*mover la comilla hacia los lados*/
    font-size: 2em;/*tamaño de la comilla*/
}
.comillas::after{
    content: "\201D";
    position: absolute;
    bottom: 20px;
    right: 838px;
    font-size: 2em;
}
.icon {
    position: relative;
    display: inline-block;
}

.icon::before {
    content: "🐢";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
}

.icon input {
    padding-left: 30px; /* Deja espacio para el ícono */
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.relativa{
    position: relative;
    top: 40px;
    left: 40px;
    border:5px aquamarine;
}
